.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}
.invalid-feedback {
    display: inline-block;
    font-size: 100%;
}
.ng-valid[required], .ng-valid.required  {
  border: 1px solid #42A948; /* green */
  border-left: 5px solid #42A948; /* green */
}
.required-field {
    border: 1px solid #a94442;
    border-left: 5px solid #a94442;
}