.task-table {
    overflow-x: auto;    
}
table {
    width: 100%;
    margin: 15px 0;
}
table tr.height {
    min-height: 100px;
    height: 100px;
}
table tr.heading {
    font-weight: bold;
}
table tr td {
 margin: 0 10px;
 padding: 15px 5px;
 border-bottom: #ddd solid 1px;
}
.task-heading {
    font-weight: bold;
}